/* [next]/internal/font/google/bai_jamjuree_7acf191d.module.css [app-client] (css) */
@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/79f70ac70ded8e44-s.880e998c.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/6a749775c8528886-s.71b3f921.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/f31b815571f9811a-s.c7c9bc47.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../media/e7e03d8c3b7d2d2a-s.p.2d62bcaf.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/618f4c0df404b3b6-s.aea0f2c5.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/f7b85241a24edc23-s.a3f64f59.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/ea4563e7637a2671-s.c809f2be.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/b0314869316c713e-s.p.7f8a9a26.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/2ad14601e1aca84e-s.996ec649.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/bfdc4a4e1962f368-s.323ffec0.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/63c335eab52d9132-s.6bbab99c.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/137e738a3044ae84-s.p.238dcd1b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/7f9e30255aa8467e-s.e01d78cc.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/80be3e0eecf4d247-s.ee05cda4.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/9793edbfb1f6c1e3-s.52def090.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/a3c73b24938559c3-s.p.bab49f4c.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/a2d218bb3530e54d-s.060c2fef.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/c4cb8967e5254149-s.86e269e5.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/19f9a3c2674251d1-s.cad5c723.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/186c8edb2e53be7f-s.p.c99fd3fd.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/e113ecc2a8161367-s.e5cf3ca7.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/a02eca58eae15253-s.e7ac619d.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/8ee921ca0557dff2-s.868b2fd2.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/fb30396e64817371-s.p.f046f548.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Bai Jamjuree Fallback;
  src: local(Arial);
  ascent-override: 96.7%;
  descent-override: 24.18%;
  line-gap-override: 0.0%;
  size-adjust: 103.41%;
}

.bai_jamjuree_7acf191d-module__gslMba__className {
  font-family: Bai Jamjuree, Bai Jamjuree Fallback;
  font-style: normal;
}

.bai_jamjuree_7acf191d-module__gslMba__variable {
  --font-bai-jamjuree: "Bai Jamjuree", "Bai Jamjuree Fallback";
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_bai_jamjuree_7acf191d_module_css_bad6b30c._.single.css.map*/